<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Include the Bootstrap partial -->
    <%- include('./partials/bootstrap') %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h1><%= title %></h1>
    <img src="<%= profileImage %>" >
    <p><%= firstName %></p>
    <p><%= lastName %></p>
    <p><%= email %></p>
    <button onclick="window.location.href = 'profiles/edit/5';">Edit</button>
    <button>Delete</button>
  </body>
</html>